:root {
  --heading-font-family: "BenchNine", sans-serif;
  --default-font-family: 'Work Sans', sans-serif;
}

body {
  font-family: var(--default-font-family) !important;
  font-weight: 200 !important;
}
h1 {
  padding-top: 40px;
  margin: 0;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  letter-spacing: 6px;
}
h2 {
  font-size: 200px !important;
  font-family: var(--heading-font-family);
}
h3 {
  font-weight: 200 !important;
}
h4 {
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  letter-spacing: 6px;
}
nav {
  font-family: var(--default-font-family);
}
footer {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 20px 10px;
}

.hero {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 50px 10px 10px;
}
.logo {
  max-width: 30px;
  opacity: 0.5;
  transition: all 2s ease-in-out;
}
.logo:hover {
  opacity: 1;
  transform: rotate(360deg);
}
.image {
  max-width: 300px;
  margin: 0 auto;
}
.about {
  border-radius: 20px;
  max-width: 150px;
}
.headshot {
  border-radius: 30px;
  max-width: 300px;
}
.footer-image {
  max-width: 75px;
  border-radius: 360px;
  float: right;
}
.work-info {
  margin: 25px 75px;
}

#email-address,
#telephone-number,
#learn-more {
  color: black;
  text-decoration: none;
}
#learn-more {
  font-weight: 400;
}

@media (max-width: 640px) {
  .footer-image {
    display: none;
  }
  footer {
    text-align: center;
  }
  h2 {
    display: none;
  }
  .hero {
    text-align: center;
  }
  #email-address,
  #telephone-number {
    font-size: smaller;
  }
}