h2 {
  font-weight: bold;
  font-size: 200px !important;
  font-family: "BenchNine", sans-serif;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  padding-top: 40px;
  margin: 0;
}
h3 {
  font-weight: lighter;
  font-family: "BenchNine", sans-serif;
}
nav {
  font-family: "BenchNine", sans-serif;
}
footer {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 20px 10px;
}
.hero {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 50px 10px 10px;
}
.logo {
  max-width: 30px;
  opacity: 0.5;
  transition: all 2s ease-in-out;
}
.logo:hover {
  opacity: 1;
  transform: rotate(360deg);
}
.image {
  max-width: 300px;
  margin: 0 auto;
}
.about {
  border-radius: 360px;
  max-width: 300px;
}
.footer-image {
  max-width: 75px;
  border-radius: 360px;
  float: right;
}
.work-info {
  margin: 25px 75px;
}
#email-address, #telephone-number {
  color: black;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}