h2 {
  font-weight: bold;
  font-size: 200px !important;
  font-family: "BenchNine", sans-serif;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
h3 {
  font-weight: lighter;
  font-family: "BenchNine", sans-serif;
}
nav {
  font-family: "BenchNine", sans-serif;
}
.hero {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 50px 10px 10px;
}
.logo {
  max-width: 50px;
  opacity: 0.5;
  transition: all 2s ease-in-out;
}
.logo:hover {
  opacity: 1;
  transform: rotate(360deg);
}
.image {
  max-width: 500px;
}
.about {
  border-radius: 360px;
  max-width: 300px;
}
.card-container {
  perspective: 600;
  max-width: 500px;
  position: relative;
}
.card {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}